:root {
    --alabaster: #e9e9e1ff;
    --manatee: #9898a0ff;
    --steel-blue: #527da4ff;
    --dark-purple: #2f131eff;


    --dark-bg: #002b36;
    --dark-color: #eee8d5;
    --dark-code: #93a1a1;
    --light-bg: #fffff8;
    --light-color: #111;
    --light-code: #657b83;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";



body {
    /* TODO: Choose a font and import properly */
    font-family: 'Poppins', sans-serif;
    font-family: et-book,Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
    background: var(--light-bg);
    color: var(--light-color);
}

#content {
    overflow-y: scroll;
    height: 100vh
}

.welcome-page {
    background: var(--light-bg);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: var(--light-color)
}

a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

.follow-button {
    display: inline-table;
}

.yosemite-window {
    background: #fff;
    margin: auto;
    margin-top: 5px;
    border: 1px solid #acacac;
    border-radius: 11px;
    box-shadow: 0px 0px 10px #acacac;
}

.bg-body{
    background: var(--light-bg) !important;
}

.post-text {
    font-size: 1.4rem;
    line-height: 2rem;
    font-family: et-book,Palatino,"Palatino Linotype","Palatino LT STD","Book Antiqua",Georgia,serif;
}

.send-message-button {
    width: 200px;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background: linear-gradient(0deg, rgba(53,63,215,1) 0%, rgba(55,113,255,1) 100%);
}

.btn-primary:active {
  background: rgba(53,63,215,1) !important;
}

.btn-primary {
    border: none;
}

/************ Edit Form ************/
.form-control.edit-text-area {
    height: 150px;
}


/************ Sidebar ************/

#sidebar-wrapper {
    background: var(--light-bg);
}

.list-group-item-light {
    background: var(--light-bg);
}

.list-group-item {
    background: var(--light-bg);
    color: var(--light-color);
    border: none;
}
.table {
    color: var(--light-color);
}

.sidebar-heading {
    padding-left: 10px;
}

/* Hover styles */
.list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {
    background: var(--light-bg);
    color: var(--light-color)
}

/************ END Sidebar ************/

.navbar {
    background: var(--light-bg);
}