:root {
    --alabaster: #e9e9e1ff;
    --manatee: #9898a0ff;
    --steel-blue: #527da4ff;
    --dark-purple: #2f131eff;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: var(--dark-purple);
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.follow-button {
    display: inline-table;
}

.post-card {
    background: var(--alabaster);
}

.do-somethingrainbow {
    background: rgb(131,58,180);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}

.send-message-button {
    width: 200px;
}

/************ Edit Form ************/
.form-control.edit-text-area {
    height: 150px;
}

/************ Sidebar ************/

#sidebar-wrapper {
    background: var(--alabaster);
}

.list-group-item-light {
    background: var(--alabaster);
}

.list-group-item {
    border-color: var(--alabaster);
    color: rgb(33, 33, 33);
}

/* Hover styles */
.list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {
  background-color: var(--manatee);
  color: rgb(33, 33, 33);
}

/************ END Sidebar ************/