:root {
    --alabaster: #e9e9e1ff;
    --manatee: #9898a0ff;
    --steel-blue: #527da4ff;
    --dark-purple: #2f131eff;


    --dark-bg: #002b36;
    --dark-color: #eee8d5;
    --dark-code: #93a1a1;
    --light-bg: #fffff8;
    --light-color: #111;
    --light-code: #657b83;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

@font-face {
    font-family: 'Butler';
    src: url('font/butler/Butler-UltraLight.woff2') format('woff2'),
        url('font/butler/Butler-UltraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('font/butler/Butler-Medium.woff2') format('woff2'),
        url('font/butler/Butler-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('font/butler/Butler-Light.woff2') format('woff2'),
        url('font/butler/Butler-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('font/butler/Butler-Black.woff2') format('woff2'),
        url('font/butler/Butler-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('font/butler/Butler-Bold.woff2') format('woff2'),
        url('font/butler/Butler-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('font/butler/Butler-ExtraBold.woff2') format('woff2'),
        url('font/butler/Butler-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: url('font/butler/butler/Butler.woff2') format('woff2'),
        url('font/butler/butler/Butler.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
    /* TODO: Choose a font and import properly */
    font-family: 'Poppins', sans-serif;
    background: var(--light-bg);
    color: var(--light-color);
}

#content {
    height: 100vh
}

.welcome-page {
    background: var(--light-bg);
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: var(--light-color)
}

a, a:hover, a:focus {
    text-decoration: none;
    transition: all 0.3s;
}

.follow-button {
    width: 6em;
    height: 2.4em;
    display: inline-table;
}

.yosemite-window {
    background: #fff;
    margin: auto;
    margin-top: 5px;
    border: 1px solid #acacac;
    border-radius: 11px;
    box-shadow: 0px 0px 10px #acacac;
}

.bg-body{
    background: var(--light-bg) !important;
}

.post-text {
    font-size: 1.4rem;
    line-height: 2rem;
    word-break: break-word;
    font-family: 'butler', sans-serif;
    font-weight: 300;
}

.post-textarea {
    font-size: 1.4rem;
    line-height: 2rem;
    word-break: break-word;
    font-family: 'butler', sans-serif;
    font-weight: 300;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    resize: none;
    padding: 0.5rem;
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background: linear-gradient(0deg, rgba(53,63,215,1) 0%, rgba(55,113,255,1) 100%);
}

.btn-primary:active {
  background: rgba(53,63,215,1) !important;
}

.btn-primary {
    border: none;
}

.bio {
    white-space:pre-wrap;
}

button:focus {
    outline: none;
    box-shadow: none;
}
.btn:focus {
    outline: none;
    box-shadow: none;
}

.icon {
    color: var(--alabaster);
}

/************ Edit Form ************/
.form-control.edit-text-area {
    height: 150px;
}


/************ Logo ************/
.welcome-logo {
    height: 80px;
    padding-bottom: 15px;
}
.welcome-logo-sm {
    height: 40px;
    padding-bottom: 5px;
    margin-right: 5px;
}
.nav-logo {
    height: 25px;
    margin-right: 5px;
    padding-bottom: 2px;
}

/************ Sidebar ************/

#sidebar-wrapper {
    background: var(--light-bg);
}

.list-group-item-light {
    background: var(--light-bg);
}

.list-group-item {
    background: var(--light-bg);
    color: var(--light-color);
    border: none;
}
.table {
    color: var(--light-color);
}
.table-hover tbody tr:hover {
    color: var(--light-color);
}

.sidebar-heading {
    padding-left: 10px;
}

/* Hover styles */
.list-group-item-light.list-group-item-action:hover, .list-group-item-light.list-group-item-action:focus {
    background: var(--light-bg);
    color: var(--light-color)
}

/************ END Sidebar ************/

.navbar {
    background: var(--light-bg);
}

.navbar-toggler-icon {
    width: 50px;
}

.navbar-brand {
    color: var(--light-color) !important;
    z-index: 1; /* Something is in front of the logo, so it's unclickable */
    margin-right: -5%; /* Removing margin so notification icon is center*/
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background: inherit;
}

.nav-tabs {
    border-bottom: none;
}

/************ Profile graph ************/
.contributions {
    text-transform: capitalize;
    font-family: Helvetica;
    color: #767676;
    border-radius: 3px;
    padding: 8px;
    display: grid;
    grid-template-rows: repeat(3, 20px);
    grid-template-columns: repeat(10, 20px);
    grid-auto-flow: dense;
    grid-gap: 2px;
}


/************ Dark mode ************/
@media (prefers-color-scheme: dark) {
    /* rename these colors so they aren't light/dark */
    :root {
        --light-bg: #002b36;
        --light-color: #eee8d5;
        --light-code: #93a1a1;
    }

    #continue-with-google {
        background-color: var(--light-bg);

    }

    textarea {
        background-color: inherit !important;;
        color: inherit !important;;
    }

    input {
        background-color: inherit !important;;
        color: inherit !important;;
    }

    select {
        background-color: inherit !important;;
        color: inherit !important;;
    }

    .nav-link {
        color: var(--light-color) !important;
    }

    .navbar-toggler-icon {
        color: var(--light-color) !important;
    }

    .dropdown-menu {
        background: #004252;
    }

    .yosemite-window {
        background: #004252;
        border: none;
        box-shadow: none;
    }

    /* This sets the background of the dropdown on the text editor  */
    .ql-picker-options {
        background-color: var(--light-bg) !important;
    }
}

.ql-toolbar .ql-stroke {
    fill: none;
    stroke: var(--light-color);
}

.ql-toolbar .ql-fill {
    fill: var(--light-color);
    stroke: none;
}


.ql-toolbar .ql-picker {
    color: var(--light-color);
}

.ql-editor.ql-blank::before {
    color: var(--manatee);
}


.ql-editor {
    resize: vertical;
    overflow-y: scroll;
  }
  
.ql-container {
    resize: vertical;
    overflow-y: scroll;
  }
  